{% extends "base.html" %}
{% load static %}
{% block title %}CLIENTE{% endblock %}
{% block body %}
<!--**********************************
            Content body start
        ***********************************-->
{% block head %}PROCESO{% endblock %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row" style="padding-right: 0 !important;">
            <div class="col-sm-12 col-xl-12 col-xxl-12" style="padding-right: 0 !important;">
                <div class="card">
                    <div class="card-header d-block d-sm-flex border-0">
                        <div class="me-3">
                            <h4 class="card-title mb-2">
                                <a href="{% url 'proceso:D_MovAnimales' ID=TCantidadMovimientoAnimales.IDFolio %}">
                                    <i class="bi bi-arrow-left-circle text-black fs-28"></i>
                                </a>
                                <b>EDITAR DETALLE DE GANADO # {{ TCantidadMovimientoAnimales.IDFolio }}</b>
                            </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body tab-content px-4 pt-2">
                        <div class="tab-pane active show fade" id="monthly" role="tabpanel">
                            <form action="{% url 'proceso:A_Cantidad_Animal'%}" method="POST" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="hidden" name="id" value="{{TCantidadMovimientoAnimales.ID}}">
                                    <input type="hidden" name="folio" value="{{TCantidadMovimientoAnimales.IDFolio}}">
                                    <input type="hidden" class="form-control" name="tecnico"
                                        value="{{ user.first_name }} {{user.last_name}}">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">CORRAL <label>*</label></h6>
                                            <select class="select2 form-control col-12" name="corral" required>
                                                <option value="{{FiltradoCorral.ID}}">
                                                    --------{{FiltradoCorral.Descripcion}}--------
                                                </option>
                                                {% for corral in FECorral %}
                                                <option value="{{ corral.ID }}">{{ corral.Descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">TIPO ANIMAL <label>*</label></h6>
                                            <select class="select2 form-control col-12" name="animal" required>
                                                <option value="{{FiltradoAnimales.ID}}">
                                                    --------{{FiltradoAnimales.Descripcion}}--------
                                                </option>
                                                {% for Animal in FEAnimal %}
                                                <option value="{{ Animal.ID }}">{{ Animal.Descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">CANTIDAD <label>*</label></h6>
                                            <input type="tel" name="cantidad"
                                                value="{{TCantidadMovimientoAnimales.Cantidad}}" class="form-control"
                                                placeholder="Ingrese la cantidad" required>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">PESO TOTAL <label>*</label></h6>
                                            <input type="tel" name="pesoTotal"
                                                value="{{TCantidadMovimientoAnimales.PesoTotal}}" class="form-control"
                                                placeholder="Ingrese la cantidad" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit"
                                            class="btn btn-success buttonEnviar celular">ACTUALIZAR</button>
                                        <a href="{% url 'proceso:D_MovAnimales' ID=TCantidadMovimientoAnimales.IDFolio %}"
                                            class="btn btn-danger buttonCancelar celular" role="button">CANCELAR</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}