{% extends "base.html" %}
{% load static %}
{% block title %}CLIENTE{% endblock %}
{% block body %}
<!--**********************************
            Content body start
        ***********************************-->
{% block head %}CATALOGO{% endblock %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row" style="padding-right: 0 !important;">
            <div class="col-sm-12 col-xl-12 col-xxl-12" style="padding-right: 0 !important;">
                <div class="card">

                    <div class="card-header d-block d-sm-flex border-0">
                            <h4 class="card-title mb-2">
                                <a href="{% url 'proceso:T_MovAnimales'%}">
                                    <i class="bi bi-arrow-left-circle text-black fs-28"></i>
                                </a>
                                <b>FORMULARIO SÁLIDA DE PRODUCTO</b>
                            </h4>
                    </div>
                    <hr>
                    <div class="card-body tab-content px-4 pt-2">
                        <div class="tab-pane active show fade" id="monthly" role="tabpanel">
                            <form action="{% url 'proceso:G_Mov_Animales' %}" method="POST" autocomplete="off">
                                {% csrf_token %}
                                <input type="hidden" class="form-control" name="clave" value="{{ ultimo_folio }}">
                                <input type="hidden" class="form-control" name="tecnico"
                                    value="{{ user.first_name }} {{user.last_name}}">
                                <div class="row mr-1 ml-1 fila">
                                    <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                        <h6 class="h6-form">CLIENTE *</h6>
                                        <select class="select2 form-control col-12" name="cliente" required
                                            id="select-cliente">
                                            {% if Agrego_aniamles %}
                                            <option value="{{FiltradoCliente.ID}}">{{FiltradoCliente.Nombre }}</option>
                                            {% else %}
                                            <option value="">Selecciona cliente</option>
                                            {% for Clientes in FCliente %}
                                            <option value="{{ Clientes.ID }}">{{ Clientes.Nombre }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                        <h6 class="h6-form">TIPO DE MOVIMIENTO *</h6>
                                        {% if Agrego_aniamles %}
                                        <input type="hidden" value="{{Agrego_aniamles.movimiento}}" name="movimiento">
                                        <input type="text" value="{{FiltradoMovimiento.Descripcion}}"
                                            class="form-control" readonly>
                                        {% else %}
                                        <select class="select2 form-control col-12" name="movimiento" required>
                                            {% for Movimiento in FMovimiento %}
                                            <option value="{{ Movimiento.ID }}">{{ Movimiento.Descripcion }}</option>
                                            {% endfor %}
                                        </select>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                        {% if Agrego_aniamles %}
                                        <h6 class="h6-form">FECHA *</h6>
                                        <input type="text" name="fecha" value="{{Agrego_aniamles.fecha}}"
                                            class="form-control" readonly>
                                        {% else %}
                                        {% if perms.Aplicacion.add_user %}
                                        <h6 class="h6-form">FECHA *</h6>
                                        <input type="date" name="fecha" value="{{ FechaDeHoy }}" class="form-control"
                                            required>
                                        {% else %}
                                        <h6 class="h6-form">FECHA *</h6>
                                        <input type="date" name="fecha" value="{{ FechaDeHoy }}" class="form-control"
                                            required>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                        <h6 class="h6-form">PESO LOTE*</h6>
                                        {% if Agrego_aniamles %}
                                        <input type="text" name="peso" value="{{Agrego_aniamles.peso}}"
                                            class="form-control" readonly>
                                        {% else %}
                                        <input type="number" name="peso" step="0.01" class="form-control" value="0"
                                            placeholder="Ingrese el peso" readonly>
                                        {% endif %}
                                    </div>
                                    <div class=" col-sm-12 col-md-12 col-lg col-xl mb-3" style="display: none;">
                                        <h6 class="h6-form">No. PARTIDA</h6>
                                        {% if Agrego_aniamles %}
                                        <input type="text" name="partida" value="{{Agrego_aniamles.partida}}"
                                            class="form-control" readonly>
                                        {% else %}
                                        <input type="number" name="partida" placeholder="Ingrese No. Partida"
                                            class="form-control" step="1" value="0"
                                            oninput="checkInputValidity(this, 'partidaErrorMessage', 'agregarBoton', 'salirBoton')">
                                        <div class="invalid-feedback" id="partidaErrorMessage" style="display: none;">
                                            No se permiten puntos decimales.
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary agregarBoton" name="agregar"
                                        id="agregarBoton">Guardar y
                                        agregar otro</button>
                                    <button type="submit" class="btn btn-success salirBoton" name="salir"
                                        id="salirBoton">Guardar y
                                        salir</button>
                                    <a href="{% url 'proceso:T_MovAnimales'%}">
                                        <button type="button" class="btn btn-danger cancelarBoton">Cancelar</button>
                                    </a>
                                </div>

                                <div class="card card-hdr-procesos mt-3 mb-3 p-4">
                                    <div class="row mb-3">
                                        <div class="col-8">
                                            <h6 class="h6-form">Agregar cantidad y tipo de animal</h6>
                                        </div>
                                        <div class="col-4">
                                            <button type="submit" class="btn btn-sm btn-primary agregarBoton px-5"
                                                name="guardarAnimal" id="agregarBoton"><i class="fa fa-plus"></i>
                                                Agregar</button>
                                        </div>
                                    </div>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-black fs-16 font-w600 th-responsive">
                                                    FOLIO
                                                </th>
                                                <th class="text-black fs-16 font-w600 th-responsive">
                                                    CORRAL
                                                </th>
                                                <th class="text-black fs-16 font-w600 th-responsive">
                                                    TIPO ANIMAL
                                                </th>
                                                <th class="text-black fs-16 font-w600 th-responsive">
                                                    CANTIDAD
                                                </th>
                                                <th class="text-black fs-16 font-w600 th-responsive">
                                                    PESO TOTAL
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="border-bottom: 1px white solid;">
                                                    {{ formatoClave }}
                                                </th>
                                                <td class="td-agregar">
                                                    <h6 class="td-responsive">CORRAL:</h6>
                                                    <select class="select2 form-control col-12" name="corral" required
                                                        id="select-corral">
                                                        {% if Agrego_aniamles %}
                                                        <option value="{{FiltradoCorral.ID}}">
                                                            ----{{FiltradoCorral.Descripcion}}----
                                                        </option>
                                                        {% endif %}
                                                        <option value="">Selecciona corral</option>
                                                        {% for Corral in FCorral %}
                                                        <option value="{{ Corral.ID }}">{{ Corral.Descripcion }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>

                                                </td>
                                                <td class="td-agregar">
                                                    <h6 class="td-responsive">ANIMAL:</h6>
                                                    <select class="select2 form-control" style="width: 100%;"
                                                        name="animal" required>
                                                        {% for TipoAnimal in FTipoAnimal %}
                                                        <option value="{{ TipoAnimal.ID }}">{{ TipoAnimal.Descripcion }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td class="td-agregar">
                                                    <h6 class="td-responsive">CANTIDAD ANIMAL:</h6>
                                                    <input type="text" name="cantidad" autofocus class="form-control"
                                                        placeholder="Cantidad" step="1"
                                                        oninput="checkInputValidity(this, 'cantidadErrorMessage', 'agregarBoton', 'salirBoton')">
                                                    <div class="invalid-feedback" id="cantidadErrorMessage"
                                                        style="display: none;">
                                                        No se permiten puntos decimales.
                                                    </div>
                                                </td>
                                                <td class="td-agregar">
                                                    <h6 class="td-responsive">PESO TOTAL:</h6>
                                                    <input type="text" name="pesoTotal" class="form-control"
                                                        placeholder="Peso" step="1">
                                                </td>
                                            </tr>
                                            {% for animales in Detalle%}
                                            <tr>
                                                <th scope="row" style="border-bottom: 1px white solid;">
                                                    <h6 class="td-responsive">ID:</h6>{{ animales.IDFolio }}
                                                </th>
                                                <td>
                                                    {{ animales.IDCorral_id__Descripcion}}
                                                </td>
                                                <td class="td-agregar">
                                                    {{ animales.IDAnimales_id__Descripcion}}
                                                </td>
                                                <td class="td-agregar">
                                                    {{ animales.Cantidad }}
                                                </td>
                                                <td class="td-agregar">
                                                    {{ animales.PesoTotal }}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#select-cliente').change(function () {
            var cliente = $(this).val();
            var url = '/obtener_corrales_clientes/' + cliente + '/';
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#select-corral').empty();
                    console.log(data);

                    $.each(data.corrales, function (index, corral) {
                        $('#select-corral').append('<option value="' + corral.ID + '">' + corral.Descripcion + '</option>');
                        console.log(corral)
                    });
                }
            });
        });
    });
</script>
{% endblock %}