{% extends "base.html" %}
{% load static %}
{% block title %}CLIENTE{% endblock %}
{% block body %}
<!--**********************************
            Content body start
        ***********************************-->
{% block head %}CATALOGO{% endblock %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row" style="padding-right: 0 !important;">
            <div class="col-sm-12 col-xl-12 col-xxl-12" style="padding-right: 0 !important;">
                <div class="card">

                    <div class="card-header d-block d-sm-flex border-0">
                            <h4 class="card-title mb-2">
                                <a href="{% url 'proceso:T_Sal_Materia_Prima'%}">
                                    <i class="bi bi-arrow-left-circle text-black fs-28"></i>
                                </a>
                                <b>AGREGAR OPERADOR DE SÁLIDA DE MATERIA PRIMA</b>
                                
                            </h4>
                    </div>
                    <hr>
                    <div class="card-body tab-content px-4 pt-2">
                        <div class="tab-pane active show fade" id="monthly" role="tabpanel">
                            <form action="{% url 'proceso:A_Operador_Salida_MP'%}" method="POST" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="hidden" name="id" value="{{tblOperador.ID}}">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">OPERADOR</h6>
                                            <input type="hidden" value="{{ user.id }}" name="operador">
                                            <input type="text" value="{{ user.first_name }} {{user.last_name }}"
                                                class="form-control input" readonly>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">CHOFER</h6>
                                            <input type="text" name="chofer" value="{{tblOperador.Chofer}}"
                                                class="form-control input" placeholder="Ingrese el chofer" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">CAMIÓN</h6>
                                            <input type="text" name="camion" value="{{tblOperador.Camion}}"
                                                class="form-control input" placeholder="Ingrese el camión" required>

                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">PLACAS</h6>
                                            <input type="text" name="placas" value="{{tblOperador.Placas}}"
                                                class="form-control input" placeholder="Ingrese la placa" required>

                                        </div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <button type="submit" name="mp"
                                            class="btn btn-success buttonEnviar celular">Actualizar</button>
                                        <a href="{% url 'proceso:T_Sal_Materia_Prima' %}"
                                            class="btn btn-danger buttonCancelar celular" role="button">Cancelar</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}