{% extends "base.html" %}
{% load static %}
{% block title %}CLIENTE{% endblock %}
{% block body %}
<!--**********************************
            Content body start
        ***********************************-->
{% block head %}PROCESO{% endblock %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row" style="padding-right: 0 !important;">
            <div class="col-sm-12 col-xl-12 col-xxl-12" style="padding-right: 0 !important;">
                <div class="card">
                    <div class="card-header d-block d-sm-flex border-0">
                        <div class="me-3">
                            <h4 class="card-title mb-2">
                                <a href="{% url 'proceso:T_Sal_Materia_Prima'%}">
                                    <i class="bi bi-arrow-left-circle text-black fs-28"></i>
                                </a>
                                <b>EDITAR SALIDA MATERIAS PRIMAS # {{ TSalidasMateriasPrimas.IDFolio }}</b>
                            </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body tab-content px-4 pt-2">
                        <div class="tab-pane active show fade" id="monthly" role="tabpanel">

                            <form action="{% url 'proceso:A_Salida_Materia_Prima'%}" method="POST" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="hidden" name="id" value="{{TSalidasMateriasPrimas.ID}}">
                                    <input type="hidden" name="folio" value="{{TSalidasMateriasPrimas.IDFolio}}">
                                    <input type="hidden" class="form-control" name="tecnico"
                                        value="{{ user.first_name }} {{user.last_name}}">
                                    <input type="hidden" class="form-control" name="tipoMov" value="2">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">CLIENTE *</h6>
                                            <select class="select2 form-control col-12" name="cliente" required>
                                                <option value="{{FiltradoCliente.ID}}">
                                                    --------{{ FiltradoCliente.Nombre }}--------
                                                </option>
                                                {% for cliente in FEClientes %}
                                                <option value="{{ cliente.ID }}">{{ cliente.Nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">ALMACEN *</h6>
                                            <select class="select2 form-control col-12" name="almacen" required>
                                                <option value="{{FiltradoAlmacen.ID}}">
                                                    --------{{FiltradoAlmacen.Cliente}}--------
                                                </option>
                                                {% for Almacen in FEAlmacen %}
                                                <option value="{{ Almacen.ID }}">{{ Almacen.Cliente }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">PRESENTACIÓN *</h6>
                                            <select class="select2 form-control col-12" name="presentacion" required>
                                                <option value="{{FiltradoPresentacion.ID}}">
                                                    --------{{FiltradoPresentacion.Descripcion}}--------
                                                </option>
                                                {% for Presentacion in FETipoPresentacion %}
                                                <option value="{{ Presentacion.ID }}">{{ Presentacion.Descripcion }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">MATERIA PRIMA *</h6>
                                            <select class="select2 form-control col-12" name="materia" required>
                                                <option value="{{FiltradoMateriaPrima.ID}}">
                                                    --------{{FiltradoMateriaPrima.Descripcion}}--------
                                                </option>
                                                {% for MateriaPrima in FEMateriaPrima %}
                                                <option value="{{ MateriaPrima.ID }}">{{ MateriaPrima.Descripcion }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">CANTIDAD *</h6>
                                            <input type="text" name="cantidad"
                                                value="{{ TSalidasMateriasPrimas.cantidad }}" class="form-control"
                                                placeholder="Ingrese la cantidad" required>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">REFERENCIA</h6>
                                            <input type="tel" name="referencia"
                                                value="{{ TSalidasMateriasPrimas.referencia}}" class="form-control"
                                                placeholder="Ingrese el peso">
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">FECHA *</h6>
                                            <input type="datetime-local" name="fecha" value="{{fecha|date:'Y-m-d H:i'}}"
                                                class=" form-control" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg col-xl mb-3">
                                            <h6 class="h6-form">NOTAS</h6>
                                            <input type="text" name="notas" value="{{ TSalidasMateriasPrimas.notas }}"
                                                class="form-control" placeholder="Ingrese las notas">
                                        </div>
                                    </div>

                                    <div class="form-group ml-5 mr-5">
                                        <button type="submit"
                                            class="btn btn-success buttonEnviar celular">ACTUALIZAR</button>
                                        <a href="{% url 'proceso:T_Sal_Materia_Prima' %}"
                                            class="btn btn-danger buttonCancelar celular" role="button">CANCELAR</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}