{% extends "base.html" %}
{% load static %}
{% block title %}CLIENTE{% endblock %}
{% block body %}
<!--**********************************
            Content body start
        ***********************************-->
{% block head %}CATALOGO{% endblock %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row" style="padding-right: 0 !important;">
            <div class="col-sm-12 col-xl-12 col-xxl-12" style="padding-right: 0 !important;">
                <div class="card">
                    <div class="card-header d-block d-sm-flex border-0">
                        <div class="me-3">
                            <h4 class="card-title mb-2">Recolección de datos, linea de producción: tostador
                            </h4>
                            <span class="fs-12">En la siguiente tabla se mostrara los datos recolectados del
                                PLC instalados en cada linea de producción. Los datos de la siguiente tabla se
                                actualizan automaticamente cada 5 segundos</span>
                        </div>
                    </div>
                    <div class="card-body tab-content p-0">
                        <div class="tab-pane active show fade" id="monthly" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-responsive-md card-table transactions-table" id="miTabla">
                                    <thead>
                                        <tr>
                                            <th class="text-black fs-16 font-w600 th-responsive">
                                                FOLIO
                                            </th>
                                            <th class="text-black fs-16 font-w600 th-responsive">
                                                CLIENTE
                                            </th>
                                            <th class="text-black fs-16 font-w600 th-responsive">
                                                CORRAL
                                            </th>
                                            <th class="text-black fs-16 font-w600 th-responsive">
                                                MOVIMIENTO
                                            </th>
                                            <th class="text-black fs-16 font-w600 th-responsive">
                                                FECHA
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for Dato in THistorial %}
                                        <tr>
                                            <td>
                                                <span class="fs-16 text-black font-w400">
                                                    {{Dato.Clave}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="fs-16 text-black font-w400">
                                                    {{Dato.IDCliente_id__Nombre}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="fs-16 text-black font-w400">
                                                    {{Dato.IDCorral_id__Descripcion}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="fs-16 text-black font-w400">
                                                    {{Dato.TipoMov_id__Descripcion}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="fs-16 text-black font-w400">
                                                    {{ Dato.Fecha}}
                                                </span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}