{% extends "base.html" %}
{% load static %}
{% block title %}CLIENTE{% endblock %}
{% block body %}
<!--**********************************
            Content body start
        ***********************************-->
{% block head %}CATALOGO{% endblock %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row" style="padding-right: 0 !important;">
            <div class="col-sm-12 col-xl-12 col-xxl-12" style="padding-right: 0 !important;">
                <div class="card">

                    <div class="card-header d-block d-sm-flex border-0">
                        <div class="me-3">

                            <h4 class="card-title mb-2">
                                <a href="{% url 'catalogo:T_ContenedorMP'%}">
                                    <i class="bi bi-arrow-left-circle text-black fs-28"></i>
                                </a>
                                Recolección de datos, linea de producción:
                                tostador
                            </h4>
                            <span class="fs-12">En la siguiente tabla se mostrara los datos recolectados del
                                PLC instalados en cada linea de producción. Los datos de la siguiente tabla se
                                actualizan automaticamente cada 5 segundos</span>
                        </div>
                    </div>
                    <div class="card-body tab-content px-4">
                        <div class="tab-pane active show fade" id="monthly" role="tabpanel">
                            <form action="{% url 'catalogo:G_ContenedorMP'%}" method="POST" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="row">
                                        <input type="hidden" class="form-control" name="clave"
                                            value="{{ ultimo_folio }}">
                                        <input type="hidden" class="form-control" name="tecnico"
                                            value="{{ user.first_name }} {{user.last_name}}">
                                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
                                            <h6 class="h6-form">CLIENTE *</h6>
                                            <select class="select2 form-control col-12" autofocus name="cliente"
                                                required>
                                                <option value="">Seleccione un cliente</option>
                                                {% for Clientes in FClientes %}
                                                <option value="{{ Clientes.ID }}">{{ Clientes.Nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3">
                                            <h6 class="h6-form">ESTATUS *</h6>
                                            <select class="select2 form-control col-12" name="estatus" required>
                                                {% for Estatus in FEstatus %}
                                                <option value="{{ Estatus.ID }}">{{ Estatus.Descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
                                            <h6 class="h6-form">CAPACIDAD *</h6>
                                            <input type="number" name="capacidad" class="form-control input"
                                                placeholder="Ingrese la capacidad del contenedor" required step="0.01">
                                        </div>
                                    </div>

                                    <div class="form-group my-4">
                                        <button type="submit" class="btn btn-primary agregarBoton"
                                            name="agregar">Guardar y
                                            agregar otro</button>
                                        <button type="submit" class="btn btn-success salirBoton" name="salir">Guardar y
                                            salir</button>
                                        <a href="{% url 'catalogo:T_ContenedorMP'%}">
                                            <button type="button" class="btn btn-danger cancelarBoton">Cancelar</button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}