<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!-- Estilos -->
    <link href="{% static 'vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/nouislider/nouislider.min.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/buttons.css' %}" rel="stylesheet">
    <link href="{% static 'ruta/select2/select2.min.css' %}" rel="stylesheet" />
</head>
<style>

</style>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="waviy">
            <span style="--i:1">C</span>
            <span style="--i:2">a</span>
            <span style="--i:3">r</span>
            <span style="--i:4">g</span>
            <span style="--i:5">a</span>
            <span style="--i:6">n</span>
            <span style="--i:7">d</span>
            <span style="--i:8">o</span>
            <span style="--i:9">.</span>
            <span style="--i:10">.</span>
            <span style="--i:11">.</span>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <svg class="logo-abbr" width="53" height="53" viewBox="0 0 53 53">
                    <path class="svg-logo-primary-path"
                        d="M48.3418 41.8457H41.0957C36.8148 41.8457 33.332 38.3629 33.332 34.082C33.332 29.8011 36.8148 26.3184 41.0957 26.3184H48.3418V19.2275C48.3418 16.9408 46.4879 15.0869 44.2012 15.0869H4.14062C1.85386 15.0869 0 16.9408 0 19.2275V48.8594C0 51.1462 1.85386 53 4.14062 53H44.2012C46.4879 53 48.3418 51.1462 48.3418 48.8594V41.8457Z"
                        fill="#5BCFC5" />
                    <path class="svg-logo-primary-path"
                        d="M51.4473 29.4238H41.0957C38.5272 29.4238 36.4375 31.5135 36.4375 34.082C36.4375 36.6506 38.5272 38.7402 41.0957 38.7402H51.4473C52.3034 38.7402 53 38.0437 53 37.1875V30.9766C53 30.1204 52.3034 29.4238 51.4473 29.4238ZM41.0957 35.6348C40.2382 35.6348 39.543 34.9396 39.543 34.082C39.543 33.2245 40.2382 32.5293 41.0957 32.5293C41.9532 32.5293 42.6484 33.2245 42.6484 34.082C42.6484 34.9396 41.9532 35.6348 41.0957 35.6348Z"
                        fill="#5BCFC5" />
                </svg>

                <p class="brand-title" width="124px" height="33px" style="font-size: 30px;">Admin</p>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->



        <!--**********************************
            Header start
        ***********************************-->
        <div class="header ocultar">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
                                {% block head %}{% endblock %}
                            </div>
                        </div>
                        <ul class="navbar-nav header-right ocultar">
                            <li class="nav-item">
                                <div class="input-group search-area">
                                    <input type="text" class="form-control" placeholder="Search here...">
                                    <span class="input-group-text"><a href="javascript:void(0)"><i
                                                class="flaticon-381-search-2"></i></a></span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-primary d-sm-inline-block d-none dropdown-toggle"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="las la-download scale5 me-3"></i>Descargar reporte</a>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item text-black" href="#">Archivo Excel</a>
                                        </li>
                                        <li><a class="dropdown-item text-black" href="#">Archivo
                                                PDF</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ocultar">
                                <a href="javascript:void(0);" class="btn btn-primary d-sm-inline-block d-none">Generate
                                    Report<i class="las la-signal ms-3 scale5"></i></a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>

        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="dlabnav">
            <div class="dlabnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="dropdown header-profile">
                        <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                            <img src="{% static 'images/ion/man (1).png' %}" width="20" alt="" />
                            <div class="header-info ms-3">
                                <span class="font-w600 ">Hi,<b>AC</b></span>
                                <small class="text-end font-w400">luis@gmail.com</small>
                            </div>
                        </a>

                    </li>
                    <li><a href="widget-basic.html" class="ai-icon" aria-expanded="false">
                            <i class="flaticon-013-checkmark"></i>
                            <span class="nav-text">INICIO</span>
                        </a>
                    </li>
                    <li><a href="{% url 'aplicacion:Catalogo_Presentacion' %}" class="ai-icon" aria-expanded="false">
                            <i class="flaticon-013-checkmark"></i>
                            <span class="nav-text">CATALOGO</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#catalogo-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-list-ol"></i> 
                            <span class="nav-text">
                                CATÁLOGOS
                            </span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="catalogo-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <li>
                                {% if perms.Aplicacion.add_tblclientes or perms.Aplicacion.view_tblclientes %}
                                <a href="{% url 'catalogo:T_Cliente' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">
                                        <i class="bi bi-person"></i>
                                        Cliente
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblproveedores or perms.Aplicacion.view_tblproveedores %}
                                <a href="{% url 'catalogo:T_Proveedor' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">
                                        <i class="bi bi-person-bounding-box"></i>
                                        Proveedoresss
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tbloperadores or perms.Aplicacion.view_tbloperadores %}
                                <a href="{% url 'catalogo:T_Operador' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">
                                        <i class="bi bi-person-lines-fill"></i>
                                        Operadores
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblmateriaprima or perms.Aplicacion.view_tblmateriaprima %}
                                <a href="{% url 'catalogo:T_MateriaPrima' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">
                                        <i class="bi bi-box"></i>
                                        Materias primas
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblproductos or perms.Aplicacion.view_tblproductos %}
                                <a href="{% url 'catalogo:T_Producto' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">
                                        <i class="bi bi-cup"></i>
                                        Productos
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblcorrales or perms.Aplicacion.view_tblcorrales %}
                                <a href="{% url 'catalogo:T_Corral' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">
                                        <i class="bi bi-house-door"></i>
                                        Corrales
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblanimalestipo or perms.Aplicacion.view_tblanimalestipo %}
                                <a href="{% url 'catalogo:T_TipoAnimal' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">
                                        <i class="bi bi-animal"></i>
                                        Tipo de animales
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblcontenedoresmateriaprima or perms.Aplicacion.view_tblcontenedoresmateriaprima %}
                                <a href="{% url 'catalogo:T_ContenedorMP' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">
                                        <i class="bi bi-box"></i>
                                        Contenedores materias primas
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblcontenedoresproductos or perms.Aplicacion.view_tblcontenedoresproductos %}
                                <a href="{% url 'catalogo:T_ContenedorProducto' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">
                                        <i class="bi bi-box"></i>
                                        Contenedores productos
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tbltolva or perms.Aplicacion.view_tbltolva %}
                                <a href="{% url 'catalogo:T_Tolva' %}" class="ai-icon" aria-expanded="false">
                                    <span class="nav-text">
                                        <i class="bi bi-truck"></i>
                                        Tolva
                                    </span>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#proceso-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-gear-fill"></i>

                            <span class="nav-text">
                                PROCESOS
                            </span>
                            <i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="proceso-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <li>
                                {% if perms.Aplicacion.add_tblmovimientoanimales or perms.Aplicacion.view_tblmovimientoanimales %}
                                <a href="{% url 'proceso:T_MovAnimales' %}" class="ai-icon" aria-expanded="false">
                                    
                                    <span class="nav-text">
                                        <i class="bi bi-paw"></i>
                                        Animales
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblasignacorrales or perms.Aplicacion.view_tblasignacorrales %}
                                <a href="{% url 'proceso:T_Asignacion' %}" class="ai-icon" aria-expanded="false">
                                    
                                    <span class="nav-text">
                                        <i class="bi bi-house-door"></i>
                                        Asignación Corral
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblentradamp or perms.Aplicacion.view_tblentradamp or perms.Aplicacion.add_tblsalidamp or perms.Aplicacion.view_tblsalidamp or perms.Aplicacion.add_tblentradaproductos or perms.Aplicacion.view_tblentradaproductos or perms.Aplicacion.add_tblsalidaproductos or perms.Aplicacion.view_tblsalidaproductos %}
                                <a href="{% url 'proceso:T_Ent_Materia_Prima' %}" class="ai-icon" aria-expanded="false">
                                    
                                    <span class="nav-text">
                                        <i class="bi bi-scale"></i>
                                        Báscula
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblinventarioinicialesmp or perms.Aplicacion.view_tblinventarioinicialesmp or perms.Aplicacion.add_tblinventarioinicialesproductos or perms.Aplicacion.view_tblinventarioinicialesproductos %}
                                <a href="{% url 'proceso:Inventario_Presentacion' %}" class="ai-icon" aria-expanded="false">
                                    
                                    <span class="nav-text">
                                        <i class="bi bi-archive"></i>
                                        Inventario
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tblservido or perms.Aplicacion.view_tblservido %}
                                <a href="{% url 'proceso:Servidos_Presentacion' %}" class="ai-icon" aria-expanded="false">
                                    
                                    <span class="nav-text">
                                        <i class="bi bi-check-circle"></i>
                                        Servidos
                                    </span>
                                </a>
                                {% endif %}
                            </li>

                            <li>
                                {% if perms.Aplicacion.add_tbltolva or perms.Aplicacion.view_tbltolva %}
                                <a href="{% url 'proceso:T_Cargamento_Tolva' %}" class="ai-icon" aria-expanded="false">
                                    
                                    <span class="nav-text">
                                        <i class="bi bi-truck"></i>
                                        Vehículos
                                    </span>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>


                    <li><a href="{% url 'aplicacion:Login' %}" class="ai-icon" aria-expanded="false">
                            <i class="flaticon-013-checkmark"></i>
                            <span class="nav-text">Iniciar sesion</span>
                        </a>
                    </li>
                    <li><a href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-072-printer"></i>
                            <span class="nav-text">Forms</span>
                        </a>
                    </li>
                    <li><a href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-043-menu"></i>
                            <span class="nav-text">Table</span>
                        </a>
                    </li>
                    <li><a href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-022-copy"></i>
                            <span class="nav-text">Pages</span>
                        </a>
                    </li> 
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        {% block body %}

        {% endblock %}
        <!-- From Uiverse.io by Yaya12085 --> 

        <!--**********************************
            Footer start
        ***********************************-->
        <!-- <div class="footer">

            <div class="copyright">
                <p>© Designed &amp; by <a href="#" target="_blank">Animation Coding</a> 2022</p>
            </div>
        </div> -->
        <!--**********************************
            Footer end
        ***********************************-->

        <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1080;">
        {% if messages %}
            {% for message in messages %}
            <div class="toast align-items-center text-bg-{% if 'error' in message.tags %}danger{% elif 'success' in message.tags %}success{% else %}primary{% endif %} border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                <div class="d-flex">
                <div class="toast-body d-flex align-items-center gap-2">
                    {% if 'error' in message.tags %}
                    <i class="bi bi-x-circle-fill"></i>
                    {% elif 'success' in message.tags %}
                    <i class="bi bi-check-circle-fill"></i>
                    {% else %}
                    <i class="bi bi-info-circle-fill"></i>
                    {% endif %}
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>



    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
   <!-- Scripts: jQuery primero -->
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>

    <!-- Carga de librerías en orden correcto -->
    <script src="{% static 'vendor/global/global.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'ruta/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

    <!-- Otros scripts -->
    <script src="{% static 'js/input-not-real.js' %}"></script>
    <script src="{% static 'js/dashboard/dashboard-1.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/dlabnav-init.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const collapseElements = document.querySelectorAll('.nav-link[data-bs-toggle="collapse"]');

            collapseElements.forEach(function (element) {
                element.addEventListener('click', function () {
                    const targetId = element.getAttribute('data-bs-target');
                    const targetElement = document.querySelector(targetId);

                    // Si el target ya está abierto, no hacer nada
                    if (targetElement.classList.contains('show')) {
                        return;
                    }

                    // Colapsar otros elementos
                    const allCollapseElements = document.querySelectorAll('.nav-content.collapse.show');
                    allCollapseElements.forEach(function (collapse) {
                        collapse.classList.remove('show');
                    });
                });
            });
        });

    </script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const toastElList = [].slice.call(document.querySelectorAll('.toast'));
        toastElList.forEach(function (toastEl) {
        new bootstrap.Toast(toastEl).show();
        });
    });
    </script>
    <!-- Activar Select2 correctamente al final -->
    <script>
        $(function () {
            $('.select2').select2();
        });
    </script>
</body>

</html>


